*{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    font-family: 'Russo One';
    color:#f6f6f6;
    animation: normal;
}

span{
    color: #9cc5a1;
    z-index: 1;
}

body{
    overflow: hidden;
}

.loader{
    gap: 10%;
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.loader-h2{
    font-size: 120px;
    font-family: 'Russo One';
    color: #f6f6f6;
}

.loader-spinner{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 20px solid rgba(200, 200, 200, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to{transform: rotate(360deg);}
};

#navbar{
    z-index: 49;
}

.background-image{
    background-size: cover;
}

.background-color{
    height: 100vh;
    overflow: hidden;
}

.background-image::before{
    content: '';
    opacity: 0.3;
    background-image: url("https://cdn.wallpaperjam.com/content/images/fb/d9/fbd97bb27a825b12de417df8ca2872516d37018b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.nav-container{
    z-index: 49;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 97%;
    display: flex;
    flex-direction: row;
    border-top: none;
    border-bottom: #f6f6f6 solid 1px;
}

.nav-sticky{
    z-index: 49;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-h6{
    background: none;
    border: none;
    font-weight: 900;
    margin: 10px 10px;
    font-size: 20px;
}

#home{
    position: relative;
}

.home-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding: 2%;
    height: 100vh;
    width: 96%;
}

.home-left-part{
    display: flex;
    flex-direction: column;
    gap: 20px 0%;
}

.home-h2{
    color: #f6f6f6;
    text-shadow: #9cc5a1 20px;
    font-weight: 700;
    font-size: 170px;
}

.home-right-part{
    max-height: 35vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px 0%;
}

.home-clock-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    gap: 20px;
}

.home-h4{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: justify;
}

.home-h4-mobile{
    display: none;
}

.home-clock-h6{
    font-size: 20px;
    text-align: center;
}

.home-clock-h3-day{
    font-family: 'Caveat';
    text-align: center;
    font-size: 250px;
}

.home-clock-right{
    display: flex;
    flex-direction: column;
}

.home-clock-h3-month{
    font-family: 'Caveat';
    text-align: center;
    font-size: 125px;
    color: #9cc5a1;
}

#about{
    padding-top: 6%;
    background-color: #454955;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2%;
    justify-items: center;
    width: 90%;
    height: 100vh;
}

.about-greeting-texts{
    text-align: end;
}

.about-greeting-h3{
    color: #9cc5a1;
    font-size: 60px;
}

.about-greeting-h6{
    line-height: 0px;
    font-size: 20px;
    color: #9cc5a1;
}

.about-left-h4{
    font-family: 'Oswald', sans-serif;
    text-indent: 20%;
    margin-top: 6%;
    font-size: 42px;
}

.about-right-img{
    height: 500px;
    width: 300px;
}

.about-right-h4{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
}

#work-showcase{
    background-color: #454955;
}

.work-title-h3{
    font-size: 60px;
    text-align: start;
    padding-left: 10%;
    margin-bottom: 5%;
}

.work-title-h3-span{
    color: #9cc5a1;
    font-size: 60px;
}

.work-showcase-container{
    gap: 5%;
    margin-top: 0%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    resize: none;
}

.work-showcase-h3{
    font-family: 'Oswald', sans-serif;
    font-size: 62px;
}

.work-showcase-h6{
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    line-height: 0px;
}

.work-showcase-img{
    height: 300px;
    width: 500px;
    margin: 0% 0%;
    transition: 3s;
}

.work-showcase-img:hover{
    margin: 3% 3%;
    transition: 3s;
}

.work-showcase-texts{
    display: flex;
    flex-direction: row;
    place-items: end;
}

.work-showcase-1{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 2% 2%;
    grid-column-start: 2;
    grid-column-end: span 3;
}

.work-showcase-2{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 2% 2%;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: span 4;
}

.work-showcase-3{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 2% 2%;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 4;
}

#contact{
    background-color: #454955;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
    height: 100vh;
    width: 96%;
    padding: 2%;
}

.contact-title{
    grid-row-start: 1;
    grid-row-end: span 3;
}

.contact-h2{
    font-weight: 700;
    font-size: 150px;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.contact-interested{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    display: flex;
    flex-direction: column;
}

.contact-interested-title{
    font-size: 50px;
}

.contact-interested-title-mobile{
    display: none;
}

.contact-interested-pool-container{
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-interested-h3{
    font-size: 25px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 16px;
    border: 3px #f6f6f6 solid;
}

#footer{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.contact-links{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 3;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 97%;
    display: flex;
    flex-direction: row;
    border-top: #f6f6f6 solid 1px;
}

.contact-links-a{
    margin: 10px 10px;
    font-size: 20px;
    text-decoration: none;
}

.contact-links-a:hover{
    text-decoration: underline;
}

.contact-links-a:hover{
    text-decoration: underline;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

[data-inviewport="fade-in-bottom"]{
    transition: 2s;
    opacity: 0%;
    transform: translateY(100%);
}
[data-inviewport="fade-in-bottom"].is-inViewport{
    opacity: 100%;
    transform: translateY(0%);
}

[data-inviewport="slide-to-right"]{
    transition: 3s;
    opacity: 0%;
    margin-left: -100%;
  }
[data-inviewport="slide-to-right"].is-inViewport{
    opacity: 100%;
    margin-left: 0%;
}

[data-inviewport="slide-to-right"]{
    transition: 3s;
    opacity: 0%;
    margin-left: -100%;
  }
[data-inviewport="slide-to-right"].is-inViewport{
    opacity: 100%;
    margin-left: 0%;
}
[data-inviewport="fade-in"]{
    transition: 3s;
    opacity: 0%;
  }
[data-inviewport="fade-in"].is-inViewport{
    opacity: 100%;
}

@media screen and (width: 1356), screen and (height: 864px) {
    #home{
        padding-top: 10%;
    }

    #work-showcase{
        margin-top: -10%;
    }
}

@media screen and (max-width: 1366px){
    .loader-h2{
        font-size: 100px;
    }

    .nav-h6{
        font-size: 18px;
    }

    .home-h2{
        font-size: 120px;
    }

    .home-h4{
        font-size: 35px;
    }

    .home-clock-h6{
        font-size: 18px;
    }

    .home-clock-h3-day{
        font-size: 200px;
    }
    
    .home-clock-h3-month{
        font-size: 100px;
    }   

    .about-greeting-h3{
        font-size: 50px;
    }

    .about-left-h4{
        font-size: 33px;
    }

    .about-right-h4{
        font-size: 33px;
    }


    .work-title-h3{
        font-size: 47px;
    }

    .work-title-h3-span{
        font-size: 45px;
    }

    .work-showcase-h3{
        font-size: 45px;
    }

    .work-showcase-h6{
        font-size: 15px;
    }

    .work-showcase-1{
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 2% 2%;
        grid-column-start: 2;
        grid-column-end: span 3;
    }

    .work-showcase-2{
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 2% 2%;
        grid-column-end: span 3;
    }

    .work-showcase-3{
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 2% 2%;
        grid-column-end: span 3;
    }

    #contact{
        padding-top: 5%;
    }

    .contact-h2{
        font-size: 110px;
    }

    .contact-interested-pool-container{
        margin-bottom: -20%;
    }

    .contact-interested-h3{
        font-size: 21px;
    }

}

@media screen and (max-width: 640px) {
    .loader-h2{
        font-size: 80px;
    }

    .nav-h6{
        font-size: 15px;
    }

    .home-container{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10% 0%;
        margin-top: 0%;
    }

    .home-h2{
        font-size: 61px;
        text-align: justify;
    }

    .home-h4{
        font-size: 17px;
        display: none;
    }

    .home-h4-mobile{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        display: inline;
        text-align: start;
        text-indent: 10%;
    }

    .home-clock-h6{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        text-align: center;
    }

    .home-clock-h3-day{
        font-size: 110px;
    }
    
    .home-clock-h3-month{
        font-size: 5em;
    } 

    #about{
        background-color: #454955;
        padding-bottom: 20%;
    }

    .about-container{
        place-items: center;
        display: flex;
        flex-direction: column;
    }

    .about-greeting-h3{
        padding-top: 10%;
        margin-top: 10%;
        font-size: 35px;
    }

    .about-greeting-h6{
        font-size: 15px;
    }

    .about-left-h4{
        font-family: 'Oswald', sans-serif;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 23px;
    }

    .about-right-img{
        margin-top: 10%;
        margin-left: 40%;
        height: 300px;
        width: 150px;
    }

    .about-right-h4{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        margin-top: 10%;
        padding-bottom: 20%;
    }

    .work-title-h3{
        padding-top: 5%;
        font-size: 35px;
    }

    .work-title-h3-span{
        font-size: 30px;
    }

    .work-showcase-container{
        place-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .work-showcase-h3{
        display: none;
    }

    .work-showcase-h6{
        display: none;
    }

    .work-showcase-img{
        height: 200px;
        width: 320px;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
    }

    .contact-title{
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .contact-h2{
        text-align: start;
        margin-top: 20%;
        font-size: 70px;
    }

    .contact-interested-title-mobile{
        display: block;
        font-size: 23px;
        font-family: 'Oswald', sans-serif;
    }

    .contact-interested-title{
        display: none;   
    }

    .contact-interested-pool-container{
        justify-self: start;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 100px;
    }

    .contact-interested-h3{
        font-size: 18px;
        padding: 10px 16px;
        border-radius: 16px;
        border: 3px #f6f6f6 solid;
    }

    .contact-links{
        padding-bottom: 0px;
        justify-self: end;
    }
}

@media screen and (max-width: 400px) {
    .work-title-h3{
        padding-top: 200px;
        font-size: 35px;
    }
}