*{
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-right: 0%;
    font-family: 'Comfortaa', cursive;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9615db;
    width: 50vw;
    height: 100vh;
}

.right{
    height: 100vh;
    width: 50vw;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    place-items: center;
}

.carousel{
    color: #9615db;
    font-size: 140px;
}

.arrows{
    font-size: 90px;
    line-height: 20vh;
    text-align: center;
    background-color: #2d3032;
    color: #ffff;
    width: 100%;
    height: 100%;
}