*{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-family: 'Oswald';
    color: white;
}

span{
    color: #b78351;
    font-size: 50px;
}

.background{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Joseph_Mallord_William_Turner_%28British_-_Modern_Rome-Campo_Vaccino_-_Google_Art_Project.jpg");
    background-color: #cccc;
    width: 100vw;
    height: 100vh;
}

.navbar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: #ffff solid 1px;
}

#prof{
    text-transform: uppercase;
    font-size: 15px;
}

#nav{
    display: flex;
    justify-content: center;
}

.home-container{
    display: grid;
    grid-template-columns: 40vw 50vw;
    grid-template-rows: 30vh 70vh;
    height: 100vh;
    width: 100vw;
}

.home-me{
    grid-row-start: 2;
}

.home-me-span{
    font-size: 100px;
    text-align: center;
}

.home-prof{
    font-size: 100px;
}

.home-desc{
    margin-top: 15vh;
    grid-row-start: 2;
    font-size: 30px;
    text-align: end;
}